export(browse_dat)
export(detect_outliers)
export(remove_white_spaces)
export(sanitize_text)
export(test_utf8)
import(outliers)
import(whisker)
importFrom(assertthat,assert_that)
importFrom(stringr,str_c)
